.body{}
.nav-item:hover{
 border:none;
 border-bottom:2px solid green;
}
.wh{
    text-align: center;
}
.tx{
color:black;
  background: white;
 border-radius: 50px;
  text-transform: capitalize;
}
.btn button{
border:2px solid black;
margin-right: 20px;
background: green;
color: black;
padding: 5px 30px;
border-radius: 50px;
font-size: 20px;
}
.btn button:hover{
 padding: 10px;
border-radius: 50px;
font-size: 20px;
background: black;
color: white;
padding: 5px 30px;
transition: 0.5s;
}
.tmbt{
border: none;
background: red;
color: white;
padding: 5px 30px;
border-radius: 30px;
}
.tmbt:hover{
background: green;
transition: 1s;

}

.desingby p{
text-decoration: none;
text-align: center;
font-size: 50px;

}
.desingby p a{
text-decoration: none;
}